

	<div class="card">
		
		<div class="card-header bg-info">Registro de grupo y art&iacute;culo</div>
		
		<div class="card-body">
				
				<div class="form-group" [formGroup]="datosForma">
					<label for="idcuenta">Id:</label>
					<input type="text" class="form-control" id="idcuenta" formControlName="idarticulo" readonly>
				</div>
				
				<div class="form-group">
				
					<label for="categoria">Grupo:</label>
					
					<ng-multiselect-dropdown id="selectGrupo"
							[placeholder]="'seleccione un grupo'"
							[data]="listaGrupos"
							[settings]="dropdownSettings"
							[(ngModel)] = "grupoSeleccionado"
							>
						</ng-multiselect-dropdown>
						
				</div>
				
				<div class="form-group">
				
					<label for="categoria">Art&iacute;culo:</label>
					
					<ng-multiselect-dropdown id="selectArticulo"
							[placeholder]="'seleccione un art&iacute;culo'"
							[data]="listaArticulos"
							[settings]="dropdownSettings"
							[(ngModel)] = "articuloSeleccionado"
							>
						</ng-multiselect-dropdown>
						
				</div>
				
				<div class="form-group" [formGroup]="datosForma">
					<label for="version">Version:</label>
					<input type="text" class="form-control" id="version" formControlName="version" readonly>
				</div>
				
				<div class="row">
  					<div class="col-sm-8">
  						<button class="btn btn-info"  (click)="backClick()">Regresar</button>
  					</div>
  					<div class="col-sm-2 float-right">
						<button *ngIf="mostrarBotonEliminar" class="btn btn-danger"  (click)="remove()">Eliminar</button>
  					</div>
  					<div class="col-sm-2 float-right">
  						<div class="float-right">
  							<button class="btn btn-success"  (click)="save()">Guardar</button>
						</div>
					</div>
				</div>
		</div>
		
	</div>


