


	<table class="table-bordered table-striped">
		
		<thead class="thead-light">
			<tr>
				<th>Id</th>
				<th>Tipo</th>
				<th>Cuenta</th>
				<th>Moneda</th>
				<th>Semana anterior</th>
				<th>Semana actual</th>
				<th>Mes anterior</th>
				<th>Mes actual</th>
				<th>Saldo</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		
		<tbody>
			
			<tr *ngIf="data.length <= 0">
				<td colspan="10" align="center"><b>No se encontraron resultados</b></td>
			</tr>
			
			<tr *ngFor="let temp of data">
				<td>{{temp.idcuenta}}</td>
				<td>{{temp.tipo}}</td>
				<td>{{temp.nombre}}</td>
				<td>{{temp.moneda}}</td>
				<td>{{temp.semanaAnterior/100 |  number:'1.2-2'}}</td>
				<td>{{temp.semanaActual/100 |  number:'1.2-2'}}</td>
				<td>{{temp.mesAnterior/100 |  number:'1.2-2'}}</td>
				<td>{{temp.mesActual/100 |  number:'1.2-2'}}</td>
				<td><b>{{temp.saldo/100 |  number:'1.2-2'}}</b></td>
				<td (click)="checkClick($event)"><input type="checkbox" data-toggle="toggle"></td>
      		</tr>

		</tbody>
  