
	<h2>Catalogo de cuentas</h2>
	<button class="btn btn-primary" (click)="newRowClick()">Nuevo +</button>
	<br/>
	<br/>
	<table class="table table-striped">
		
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Tipo</th>
				<th>Moneda</th>
				<th>Saldo</th>
				<th>Version</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		
		<tbody>
			
			<tr *ngIf="data.length <= 0">
				<td colspan="7" align="center"><b>No se encontraron resultados</b></td>
			</tr>
			
			<tr *ngFor="let temp of data">
				<td>{{temp.idcuenta}}</td>
				<td>{{temp.nombre}}</td>
				<td>{{temp.tipo}}</td>
				<td>{{temp.moneda}}</td>
				<td>{{temp.saldo/100 | number:'1.2-2'}}</td>
				<td>{{temp.version}}</td>
				<td>
					<img alt="" src="assets/editrow.png" width="20px" height="20px" style="cursor:pointer;" (click)="editRowClick(temp,'cuenta')">
				</td>
      		</tr>
		</tbody>
  
  </table>
