
	<div id="transactionViewWindow">
	
		<div class="card">
      
				<div class="card-header">
					<h4>Transacci&oacute;n {{transaction_view_row.idtransaccion}}</h4>
					<button type="button" class="close" (click)="clickClose()">&times;</button>
        		</div>
        
        		<div class="card-body">
        		
        			<table width="100%">
        				
        				<tbody>
        				
        					<tr>
        						<td>Fecha:</td>
        						<td class="text-primary">{{transaction_view_row.fechaString | truncate:10}}</td>
        						<td>Cuenta:</td>
        						<td class="text-primary">{{transaction_view_row.nombrecuenta}}</td>
        					</tr>
        					
        					<tr>
        						<td colspan="4"><hr/></td>
        					</tr>
        					
        					<tr>
        						<td>Proveedor:</td>
        						<td class="text-primary">{{transaction_view_row.nombreproveedor}}</td>
        						<td>Articulos:</td>
        						<td class="text-primary">{{transaction_view_row.articulos}}</td>
        					</tr>
        					
        					<tr>
        						<td colspan="4"><hr/></td>
        					</tr>
        					
        					<tr>
        						<td>Total:</td>
        						<td class="text-primary"><b>{{transaction_view_row.total/100 |  number:'1.2-2'}}</b></td>
        						<td>Req. com.:</td>
        						<td class="text-primary">{{transaction_view_row.complementoRequeridoNombre}}</td>
        					</tr>
        					
        					<tr>
        						<td colspan="4"><hr/></td>
        					</tr>
        					
        					<tr>
        						<td colspan="4">Nota:&nbsp;<pre class="text-primary">{{transaction_view_row.nota}}</pre></td>
        					</tr>
        					
        					<tr>
        						<td colspan="4"><hr/></td>
        					</tr>
        					
        					<tr>
        						<td colspan="4">
        							<button *ngIf="transaction_view_row.ticket!=null" class="btn btn-info" (click)="clickViewDoc('ticket')"><i class="fa fa-file"></i>&nbsp;Ticket</button>&nbsp;&nbsp;
        							<button *ngIf="transaction_view_row.factura!=null" class="btn btn-info" (click)="clickViewDoc('factura')"><i class="fa fa-file"></i>&nbsp;Factura</button>&nbsp;&nbsp;
        							<button *ngIf="transaction_view_row.complemento!=null" class="btn btn-info" (click)="clickViewDoc('complemento')"><i class="fa fa-file"></i>&nbsp;Complemento</button>&nbsp;&nbsp;
        							<button *ngIf="transaction_view_row.voucher!=null" class="btn btn-info" (click)="clickViewDoc('voucher')"><i class="fa fa-file"></i>&nbsp;Voucher</button>&nbsp;&nbsp;
									<button *ngIf="transaction_view_row.transferencia!=null" class="btn btn-info" (click)="clickViewDoc('transferencia')"><i class="fa fa-file"></i>&nbsp;Transferencia</button>&nbsp;&nbsp;
									<button *ngIf="transaction_view_row.cheque!=null" class="btn btn-info" (click)="clickViewDoc('cheque')"><i class="fa fa-file"></i>&nbsp;Cheque</button>
        						</td>
        					</tr>
        					
        					<tr>
        						<td colspan="4"><hr/></td>
        					</tr>
        					
        					<tr>
        						<td colspan="4">
        							<app-transaccion-list-articulos></app-transaccion-list-articulos>
        						</td>
        					</tr>
        					
        				</tbody>
        				
        			</table>
          				
				</div>

        		<div class="card-footer">
          			<button type="button" class="btn btn-danger" (click)="clickClose()">Cerrar</button>
        		</div>
        		
      		</div>
      		
  	
  	</div>