

	<h2>Catalogo de monedas</h2>
	<button class="btn btn-primary" (click)="newRowClick('moneda')">Nuevo +</button>
	<br/>
	<br/>
	<table class="table table-striped">
		
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Moneda base</th>
				<th>Version</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		
		<tbody>
			
			<tr *ngIf="loading == true">
				<td colspan="5" align="center"><div class="spinner-border text-primary"></div></td>
			</tr>
			
			<tr *ngIf="loading == false && data.length <= 0">
				<td colspan="5" align="center"><b>No se encontraron resultados</b></td>
			</tr>
			
			<tr *ngFor="let temp of data">
				<td>{{temp.idmoneda}}</td>
				<td>{{temp.nombre}}</td>
				<td>{{temp.monedaBase}}</td>
				<td>{{temp.version}}</td>
				<td>
					<img alt="" src="assets/editrow.png" width="20px" height="20px" style="cursor:pointer;" (click)="editRowClick(temp,'moneda')">
				</td>
      		</tr>
		</tbody>
  
  </table>
