
	<div class="card">
	
		<div class="card-header bg-info">Registro de rol</div>
		
		<div class="card-body" [formGroup]="datosForma">
				
				<div class="form-group">
					<label for="idrol">Id:</label>
					<input type="text" class="form-control" id="idrol" formControlName = "idrol" readonly>
				</div>
				
				<div class="form-group">
					<label>Rol:</label>
      				<select  class="form-control" formControlName="rolnum">
						<option *ngFor="let item of listaRoles; index as i" [ngValue]="i">{{item}}</option>
      				</select>
				</div>
			
				<div class="form-group">
					<label for="ruta">Ruta:</label>
					<input type="text" class="form-control" id="ruta" formControlName="ruta">
				</div>
				
				<div class="form-group">
					<label for="version">Version:</label>
					<input type="text" class="form-control" id="version" formControlName = "version" readonly>
				</div>
				
				<div class="row">
  					<div class="col-sm-8">
  						<button class="btn btn-info"  (click)="backClick()">Regresar</button>
  					</div>
  					<div class="col-sm-2 float-right">
						<button *ngIf="mostrarBotonEliminar" class="btn btn-danger"  (click)="remove()">Eliminar</button>
  					</div>
  					<div class="col-sm-2 float-right">
  						<div class="float-right">
  							<button class="btn btn-success"  (click)="save()">Guardar</button>
						</div>
					</div>
				</div>
		</div>
	</div>
