
@import "~bootstrap/dist/css/bootstrap.css";

.panel-cuenta {
	
	font-size: 24px;
	font-weight: bold;
	color:red;
	
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.conversion-moneda {
	font-size: 16px;
	font-weight: normal;
	color: black;
}

.total-cuentas {
	font-weight: bold;
}

